<header class="section-header">
	<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTop4">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Language </a>
						<ul class="dropdown-menu small">
							<li><a class="dropdown-item" href="#">English</a></li>
							<li><a class="dropdown-item" href="#">Arabic</a></li>
							<li><a class="dropdown-item" href="#">Russian </a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> USD </a>
						<ul class="dropdown-menu small">
							<li><a class="dropdown-item" href="#">EUR</a></li>
							<li><a class="dropdown-item" href="#">AED</a></li>
							<li><a class="dropdown-item" href="#">RUBL </a></li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
					<li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
				</ul> <!-- list-inline //  -->
			</div> <!-- navbar-collapse .// -->
		</div> <!-- container //  -->
	</nav>

	<section class="header-main border-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-3 col-6">
					<a href="./" class="brand-wrap">
						<img class="logo" src="./images/logo.png">
					</a> <!-- brand-wrap.// -->
				</div>


				<div class="col-lg  col-md-6 col-sm-12 col">
					<form action="#" class="search">
						<div class="input-group w-100">
							<input type="text" class="form-control" style="width:60%;" placeholder="Search">

							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</form> <!-- search-wrap .end// -->
				</div> <!-- col.// -->
				<div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
					<div class="d-flex justify-content-end mb-3 mb-lg-0">
						<div class="widget-header">
							<small class="title text-muted">Welcome admin!</small>
							<div>
								<a href="/logout">Logout</a>
							</div>
						</div>
					</div> <!-- widgets-wrap.// -->
				</div> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- container.// -->
	</section> <!-- header-main .// -->



</header> <!-- section-header.// -->



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

	<div class="container py-4">
		<div class="row py-4">
			<main class="col-md-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h6 class="">Total Products</h6>
								<h2>40</h2>
								<a href="/admin/products">Goto Products</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
			<main class="col-md-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h6 class="">Total Users</h6>
								<h2>10</h2>
								<a href="/admin/users">View Users</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
			<main class="col-md-4">
				<article class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 text-center">
								<h6 class="">Total Orders</h6>
								<h2>25</h2>
								<a href="/admin/orders">View Orders</a>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
			<main class="col-md-4">
				<article class="card">
					<div class="card-body">
						<div class="row ">
							<div class="col-md-12 text-center">
								<h6 class="">Total Profit</h6>
								<h2>$ 24587.68</h2>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
		</div> <!-- row.// -->
	</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right">
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>