<div class="main--content profile-page">
    <div class="overview">
        <div class="title">
            <h2 class="section--title">Profile</h2>
        </div>
        <div class="cards">
            <div class="card card-1">
                <div class="card--data">
                    <div class="card--content">
                        <h5 class="card--title">{{user.email}}</h5>
                        <h1>{{user.fname}}</h1>
                        <br>
                        <h4>Personal Info</h4>
                        <p>{{user.fname}}</p>
                        <p>{{user.gender}}</p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                    <i class="ri-user-2-line card--icon--lg"></i>
                </div>
                <div class="card--stats">
                    <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>10</span>
                    <span><i class="ri-edit-line edit"></i>2</span>
                </div>
            </div>
        </div>
    </div>
</div>